body{
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 24px;
    background-color: #F1F1F1;
    margin: 0;
}
.bacImg {
    margin: 0;
    background-image: url("img/chevrolet_camaro_chevrolet_vid_sboku_133529_3840x2400.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* чтобы изображение оставалось на месте при прокрутке */
    height: 100vh; /* чтобы изображение занимало всю высоту экрана */
}


.aboutUs{
    font-size: 24px;
}
.h2_aboutUs{
    font-size: 28px;
    font-weight: 500;
}